

.tog-div{

    display: grid;
  
}


.tog-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
  }
  
  .tog-li {
    list-style: none;
    padding: 0 20px;
  }
  
  .tog-a, .tog-about {
    color: #edf0f1;
    text-decoration: none;
  }
  
 
  

  
  .tog-a {
    transition: all 0.3s ease 0s;
  }
  
  .tog-a:hover {
    color: #0088a9;
  }


.g-cont{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px ,1fr));
}



.g-item1{
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px 10%;
    
}

.g-item1 h1{

    padding-bottom: 2rem;
}

